body{
    width: 320px;
    height: 768px;
    background-color: rgb(240, 231, 224);
  
  
   
}

.cnopc1{
    background-color: rgb(217, 162, 170);
    width: 150px;
    height: 35px;
    position: absolute;
    margin-top: 240px;
    margin-left: 110px;
    border: none;
    /* border-color: rgb(254,165,169) ; */
    border-radius: 10px;
    
    
    font-family:'Times New Roman', Times, serif ;
    box-shadow: 0 0 0 4px white, 0 0 0 8px   rgb(240, 231, 224);

letter-spacing: -0.4px;
word-spacing: 2.4px;
color: white;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: uppercase;
    
   
 
}
.cnopc1:hover{
  color:    ;
  
}
#mi{
  font-size: 15px;
  position: absolute;
  margin-top: 180px;
    margin-left: 13px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
word-spacing: 2.4px;
color: rgb(240, 231, 224);
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: uppercase;
}

